@font-face {
  font-family: "Livvic-Regular";
  src: url("../../../skins/iole/font/livvic/Livvic-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Livvic-Medium";
  src: url("../../../skins/iole/font/livvic/Livvic-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Livvic-SemiBold";
  src: url("../../../skins/iole/font/livvic/Livvic-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Livvic-Bold";
  src: url("../../../skins/iole/font/livvic/Livvic-Bold.ttf") format("truetype");
  font-style: normal;
}

html {
  font-family: Livvic-Regular;
}

.main {
  margin-left: 10mm;
  margin-right: 10mm;
}

.paragraphe {
  text-indent: 2em;
  text-align: justify;
}

.headMail {
  display: -webkit-box;
  -webkit-webkit: box flex 2;
  /* wkhtmltopdf uses this one */
  font-size: 17px;
}

.appel {
  text-indent: 2em;
}

.date {
  flex: 0.5;
  font-size: 10;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 440px;
  padding-top: 50px;
}

.clientContact {
  padding-left: 53%;
  text-align: justify;
  margin-top: 85px;
  font-size: 19px;
}

.firstLine {
  /* flex: 0.5; */
  border-right: 1px solid #ff0000;
  padding-left: 20px;
}

.ioleDetail {
  padding-left: 20px;
}

.secondLine {
  /* flex: 0.5; */
  padding-left: 20px;
  border-right: 1px solid #ff0000;
}

.thirdLine {
  /* flex: 0.5; */
  border-right: 1px solid #ff0000;
  padding-left: 20px;
}

.barCodeHeader {
  /* flex: 1; */
  padding-left: 5%;
}

.barCode {
  margin-top: 0px;
}

.signature {
  padding-left: 80%;
}

.headFac {
  display: -webkit-box;
  /* wkhtmltopdf uses this one */
  display: -webkit-flex;
  display: flex;
}


.logoAndInfo {
  display: flex;
}


.logoIole {
  width: 100px;
  height: 70px;
}

.ioleDetail {
  padding-left: 20px;
}

.facDetail {
  /* flex: 3; */
  padding-left: 20px;
}

.tableau {
  width: 100%;
  margin: 50px 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #cccccc;
}

.tableau th {
  background-color: #e0ddff;
  border-right: 1px solid #cccccc;
  padding: 5px 0;
}

.tableau th:nth-child(1) {
  border-top-left-radius: 12px !important;
  /* border-radius: 3px 0px 0px 3px; */
}

.tableau th:nth-last-child(1) {
  border-top-right-radius: 12px !important;
  border-right: 0px;
  /* border-radius: 0px 3px 3px 0px; */
}

.description {
  width: 40%;
}

.tableau td {
  padding: 8px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.center {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  height: 30px;
  margin: 60px auto;
}

.smallTitle {
  font-weight: bold;
  width: auto;
  margin-bottom: 0px;
}

.priceUnderTab {
  margin-top: -2%;
  padding-right: 6%;
  text-align: right;
  margin-bottom: 50px;
}

#statuts {
  font-size: 10px;
  text-align: center;
  clear: both;
}

#page_numbers {
  font-size: 12px;
  text-align: center;
}

.mt-2 {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.grey {
  background-color: whitesmoke;
}

.totalLeft {
  background-color: #e0ddff;
  border-top-left-radius: 12px !important;
  padding: 8px;
}

.totalMiddle {
  background-color: #e0ddff;
  padding: 8px;
}

.totalRight {
  background-color: #e0ddff;
  border-top-right-radius: 12px !important;
  padding: 8px;
}

.w-22-5 {
  width: 22.5%;
}

/* .flex {
  display: flex;
  justify-content: center;
} */
.totalFinal {
  width: 40%;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  align-items: center;
  justify-content: flex-end;
}

.invoiceFooter {
  width: 100%;
  justify-content: space-between;
  /* display: -webkit-flex;
  display: -webkit-box; */
  display: -webkit-box;
  -webkit-webkit: box flex 2;
}

.bonDeCommande {
  margin-bottom: -35px;
}

.border {
  border: none;
}

.right {
  float: right;
}

.mb-12 {
  margin-bottom: 12px;
  margin-top: 0;
}

.mb-50 {
  margin-bottom: 50px;
}

/* .infos {
  width: 100%;
} */
/* 
.totaux {
  width: 38%;
  float: right;
} */

#rib {
  width: 50%;
}

.sousTotal {
  margin-right: 30px;
}